.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
data/brucei*/
data/raw_data/
data/processed_data/
data/glossina*/
data/tbrucei*/
telleria_SG_sample_processing/
analysis/analysis.RData
results/*.fasta
data/scratch
data/raw/savage/*.fastq
data/raw/telleria/*.fastq
